@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prueba Técnica</h1>
    <h1 class="display-4">José Pablo</h1>
    <h1 class="display-4">Gestión de propiedades</h1>
    <img height="250" width="250" src="https://i.pinimg.com/originals/5c/55/c6/5c55c65bcfb0f850d833822c83a9f673.gif">
</div>
